/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@import 'variables.css';

@keyframes move {
    0% {
        inset-inline-start: -20px;
    }
    100% {
        inset-inline-start: -16px;
    }
}

@keyframes core-fill {
    100% {
        fill:var(--core-active-color);
    }
}

@keyframes main-body-fill {
    100% {
        fill:var(--main-body-active-color);
    }
}

@keyframes contour-fill {
    100% {
        fill:var(--contour-active-color);
    }
}

@keyframes icon-grow {
    100% {
        transform: scale(1.5);
        transform-origin: center;
    }
}

@keyframes sparks-fill {
    100% {
        fill:var(--sparks-fill-color);
    }
}