/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: clamp(375px, 99%, 700px);
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--gradient-color__stroke) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--gradient-color__stroke) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient( var(--gradient-color__lighting) 0,
      var(--gradient-color__lighting) 0.01%,
      var(--gradient-color__darking) 100%
    );
  color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-content), "wdth" 100,
    "opsz" 0;
  margin-block-end: 105px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin-block-start: 100px;
  transition: background-color 0.3s;
  transition-timing-function: ease;
  margin-block-end: 100px;
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 120px;
  margin: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 0 25px;
}

.header * {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  border-color: transparent;
}

.header__theme-menu {
  margin-block-end: 24px;
}

.header-link {
  text-decoration: none;
  cursor:pointer;
}

.header__title-text {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle-text {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
}

.theme-menu__button:hover {
  color: var(--accent-color);
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
  text-decoration: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  opacity: 0.6;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s, color 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus {
  outline: none;
  text-decoration: underline;
  opacity: 0.6;
}

.theme-menu__button:active {
  text-decoration: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  color: var(--accent-color);
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
}

.cards {
  display: flex;
  flex-direction: column;
  gap:50px;
  max-inline-size: 100%;
}

.card-section {
  background-color: var(--background-color);
  font-family: var(--main-font);
  border: 2px solid var(--accent-color);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  max-inline-size:100%;
}

.img-container {
  position: relative;
  margin-bottom: 25px;
  max-inline-size:100%;
  aspect-ratio: 1 / 1;
}

.img-container img {
  outline: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  width:100%;
}

.card-title {
  padding: 6px 12px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-header), "wdth" 100,
    "opsz" 0;
}

.card-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0px 25px 27px 25px;
  font-variation-settings: "wght" var(--font-weight-content), "wdth" 100,
    "opsz" 0;
}

.card-watermark {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font), sans-serif;
  letter-spacing: 0em;
  width: 100%;
  text-align: end;
  inset: 25px 25px auto auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: screen;
  opacity: 0.5;
}

@supports ((-webkit-text-stroke: var(--border-color))) {
  .card-watermark {
  -webkit-text-stroke: 1px var(--border-color);
  text-shadow: 1px var(--border-color);
  }
}

.card-buttons__container {
  display: flex;
  align-self: flex-end;
  margin-inline-end: 26px;
  margin-bottom: 25px;
  gap: 1px;
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: start;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
  }

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  border-radius: none;
  transition: border 0.1s ease-in;
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  font-family: var(--accent-font), sans-serif;
  color: var(--button-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.simple-button {
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  border-radius: 0;
  margin: 0;
  cursor: pointer;
}

.simple-button:focus {
  border-radius: 0px;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.simple-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.simple-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.simple-button:hover::before {
  transform: scaleX(1);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__floppy {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  block-size: 21px;
  inline-size: auto;
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5px;
  min-inline-size: 338px;
  min-block-size: 55px;
}

.dialog {
  position: fixed;
  border: 2px solid var(--accent-color);
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 357px;
}

.dialog__form {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: min-content max-content;
  max-width: 293px;
  row-gap: 30px;
  align-items: center;
}

.dialog__floppy {
  position: relative;
  z-index: 1;
  block-size: 39px;
  inline-size: auto;
  justify-self: center;
}

.dialog__button {
  grid-column: 1 / 3;
  padding: 11px;
  text-transform: uppercase;
  max-inline-size: 100%;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

@media (width <= 375px) {
  .footer-container {
    max-inline-size: 375px;
  }
  .button-save {
    flex-direction: row;
  }
  .footer__floppy {
    margin: 0 2px 0 19px;
    block-size: 20px;
  }
}

.f__bright {
  filter: brightness(220%);
}

.f__grayscale {
  filter: grayscale(1);
}

.f__sepia {
  filter: sepia(100%);
}

.f__invert {
  filter: invert(0.7);
}

.f__saturate {
  filter: saturate(300%);
}

.f__mult {
  filter: brightness(60%) invert(0.6) saturate(400%);
}

.f__blur {
  filter: blur(5px);
}

.f__gray-hard {
  filter: grayscale(0.9) brightness(50%);
}

.f__burn {
  filter: sepia(50%) brightness(108%) hue-rotate(344deg) saturate(664%) contrast(901%);
}

.f__fire {
  filter: sepia(27%) brightness(133%) hue-rotate(302deg) saturate(252%) contrast(418%);
}