/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@import 'variables.css';
.page {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap:50px;
  max-width: 371px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'Roboto';
  background-color: var(--background-color);
  color:var(--accent-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
  
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin-block-start: 120px;
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 343px;
  max-height: 83px;
  margin-block-start: 120px;
  gap: 20px;
}

.header * {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  border-color: transparent;
}

.header__title-text {
  font-size: 49px;
  line-height: 49px;
}

.header__subtitle-text {
font-size: 14px;
line-height: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  margin-block-start: 25px;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
}

.card-section {
  background-color: var(--background-color);
  font-family: var(--main-font);
  border: 2px solid var(--accent-color);
}

.card-section img {
  position: relative;
  border: 2px solid var(--accent-color);
}

.card-title {
  padding:3.5px 10px 3.5px;
}

.card-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding:25px;
}
