/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@import 'variables.css';

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap:50px;
  width: clamp(370px,700px,1440px);
  min-block-size: 100dvb;
  font-family: var(--main-font), 'Roboto';
  background-color: var(--background-color);
  color:var(--accent-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 
  'wght' var(--main-font-weight),
  'wdth' 100,
  'opsz' 0;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: clamp(371px,696px);
  align-items: center;
  border: 2px solid var(--accent-color);
  /* background-color: linear-gradient(var(--gradient-color__lighting) 0.01%, var(--gradient-color__darking)); */
            /* repeating-linear-gradient(0deg,var(--gradient-stroke__color) 2px, transparent 2px), */
            /* repeating-linear-gradient(90deg,var(--gradient-stroke__color) 2px, transparent 2px); */
  /* margin-block-start: 100px; */
}

.heder::before {

  
}

.logo-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 120px;
  gap: 20px;
}

.header * {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  border-color: transparent;
}

.header__title-text {
  font-size: clamp(49px,65px);
  line-height: clamp(49px,65px);
}

.header__subtitle-text {
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  margin-block-start: 25px;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
}

.theme-menu__button:hover {
  color:var(--color-for__menu__header__hover);
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none ;
}

.theme-menu__button:disabled::before {
  position:absolute;
  content: "▶";
  inset-inline-start: -20px;
  animation: select__point 0.5s ease-in-out infinite;
}

@keyframes select__point {
  0% {
    inset-inline-start: -20px;
  }
  50% {
    inset-inline-start: -25px;
  }
  100% {
    inset-inline-start: -20px;
  }
}

.card-section {
  width: clamp(var(--width-mobile),var(--width-desktop));
  /* background-color: var(--background-color); */
  font-family: var(--main-font);
  outline: 2px solid var(--accent-color);
}

.card {
}

.img-container{
  position: relative;
}

.img-container img{
  width: clamp(var(--width-mobile),var(--width-desktop));
  width: var(--width-desktop); 
  outline: 2px solid var(--accent-color);
}

.card-title {
  padding:3.5px 10px 3.5px;
}

.card-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding:25px;
}

@supports((text-stroke: 1px var(--border-color)) or (-webkit-text-stroke: var(--border-color))) {
  .card-watermark {
    position: absolute;
    z-index: 1;
    font-family: var(--accent-font);
    letter-spacing: 0em;
    width: 98px;
    height: 14px;
    inset:25px 25px auto auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    mix-blend-mode: hard-light;
    opacity: 0.5;
    -webkit-text-stroke: 1px var(--border-color);
    text-shadow: 1px var(--border-color);
  }
}

.heart__and__button-like {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-bottom: 25px;
  background-color: transparent;

}

.card__like-button {
width: 130px;
height: 38px;
background: transparent;
border: 2px solid var(--accent-color);
font-family: var(--accent-font);
font-size: 14px;
line-height: 12.6px;
font-weight: 400;
}

.card__like-icon {
  background-color: transparent;
  border: none;

}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-save {
  width: 335px;
  height: 55px;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  outline: 2px solid var(--accent-color);
}


