/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font:'Inter-Variable';
    --accent-font:'PressStart2P';
    --background-color:rgba(255, 255, 255, 1);
    --accent-color:rgba(0, 0, 0, 1);
    --background-image:
}